* {
  font-family:sans-serif;
}


body {
    margin:0;
    background-size: cover;
    height: 1200px;
    position: relative;
  }

  h1 {
    color:black;
  }
  .h1 {color:white;
      font-size:90px;
      font-family:sans-serif;
      text-align:center;
  }

  a {color:black;
  }

  p { color:black;
  }

  #click {
    color:black;
    font-size:17px;
    text-align: center;
    padding: 16px 16px;
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    text-decoration: none;
  }

  #click1 {
    color: red;
    font-size:17px;
    text-align: center;
    padding: 16px 16px;
    outline: none;
    border: none;
    cursor: pointer;
  }

  .topnav {
    overflow: hidden;
    background-color:#E1E1E1;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .topnav a {
    float: left;
    color: white;
    text-align: center;
    margin-top: 0px;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family:Arial;
    display: block;
  }

  .topnav a:hover {
    background-color:gray;
    color:white;
  }

  .topnav active {
    background-color: #E1E1E1;
    color: #E1E1E1;
  }

  .table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align:center;
  }


  .tr:nth-child(even) {
    background-color:black;
  }

  table center {
    margin-left: auto;
    margin-right: auto;
  }

  .center {
    margin-left: auto;
    margin-right: auto;
  }
  .form {border: 3px solid #f1f1f1;}

  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  .button:hover {
    opacity: 0.8;
  }

  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }

  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }

  img.avatar {
    width: 40%;
    border-radius: 50%;
  }

  .container {
    padding: 16px;
  }

  .span.psw {
    float: right;
    padding-top: 16px;
  }

  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }

  #receiver {
    width: 100px;
    height: 20px;
  }

  #sender {
    width: 100px;
    height: 20px;
  }

  #message {
    width: 100px;
    height: 20px;
  }

  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }

  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }

  form.example button:hover {
    background: #0b7dda;
  }

  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  #time{
    color: black;
    font-size:20px;
    letter-spacing: 1px;
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    outline: none;
    text-transform: uppercase;
    background-size: 400%;
  }

  .sidebar {
    height: 100%;
    width: 14%;
    position: fixed;
    z-index: 1;
    top: 52px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 16px;
  }

  .sidebar a {
    text-align: center;
    font-family:sans-serif:
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    margin-bottom:10px;
    font-size: 20px;
    color: #818181;
    display: block;
  }

  .sidebar a:hover {
    color: #f1f1f1;
  }

  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  #formcontact {
    position:relative;
    max-width:300px;
    left:15%;
    top:8%;
    height:40px;
  }

  #contactsearch {
    position:relative;
    margin:0px;
    height:40px;
  }

  #select {
    position:relative;
    height:150px;
    width:450px;
    top:10%;
    left:15%;
  }

  #msgs {
    position:relative;
    height:400px;
    width:500px;
    left:15%;
    top:10%;
  }
